examples/2FA.json
[{"id":"99f51582.675c98","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1514fd76.4fde33","type":"inject","z":"99f51582.675c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["e51980d4.0b432"]]},{"id":"e51980d4.0b432","type":"2FA","z":"99f51582.675c98","creds":"","name":"","destinationAddress":"","message":"Your 2FA code {code}","method":"sms","subject":"","length":"6","expiry":"120","format":"numeric","operationType":"send","codeId":"","verificationCode":"","x":400,"y":200,"wires":[["a0d2c0fc.4dd15"]],"info":"## Configuration\n * **CPaaS Credentials** - client id and client secret of your project\n * Fill the relevant data like destination address, message etc.\n\n## How to use\n * Click on the timestamp node to initiate the flow.\n * A 2FA message would be delivered to the destination address.\n * Open the **Debug messages** section. \n * Once the request is completed the debug console would show the msg object for the request. \n * The object would have a key **cpaas_response**.\n * If the request failed then a error message would be present\n * If the request succeeded then there would a **codeId** in that object.\n * Copy the **codeId** as it would be used by **Verify 2FA** node.\n\n## Next steps\nThe next steps would be to verify the 2FA code received. Click on the **Verify 2FA**\nnode for further instructions.\n "},{"id":"ff0b041e.0cf7f8","type":"2FA","z":"99f51582.675c98","creds":"","name":"","destinationAddress":"","message":"","method":"sms","subject":"","length":"6","expiry":"120","format":"numeric","operationType":"verify","codeId":"","verificationCode":"","x":400,"y":360,"wires":[["a0d2c0fc.4dd15"]],"info":"Note: This section is to be used only after a verification code is received.\n\n## Configuration\n * **CPaaS Credentials** - client id and client secret of your project\n\n## How to use\n * Open the properties form.\n * The value for **Code ID** would be the one received in the response of the **Send 2FA** request (codeId).\n * The **Verification code** would be the code received in the destination address.\n * Press done to save.\n * Deploy the flow by pressing the **Deploy** button.\n * Click on the timestamp to initiate the flow\n \n## Verification\nIf the verification was successful, the in the debug console the **cpaas_response** object in the **msg** object\nwould have \n\n```\n{\n  verified: true,\n  message: 'Success'\n}\n\n```\nand if the verification failed then\n\n```\n{\n  verified: false,\n  message: 'Code expired or invalid'\n}\n```"},{"id":"222ef871.56b418","type":"inject","z":"99f51582.675c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":360,"wires":[["ff0b041e.0cf7f8"]]},{"id":"a0d2c0fc.4dd15","type":"debug","z":"99f51582.675c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":300,"wires":[]}]