examples/SMS.json
[{"id":"4ff76e90.cab8a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"53ca17ba.e28318","type":"inject","z":"4ff76e90.cab8a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["b3e5435f.fc83b"]]},{"id":"b3e5435f.fc83b","type":"Send SMS","z":"4ff76e90.cab8a","creds":"","name":"","destinationAddress":"","senderAddress":"","message":"","x":480,"y":200,"wires":[["16bfa9ee.0a5ab6"]],"info":"## Configuration\n * **CPaaS Credentials** - client id and client secret of your project\n * **Destination address** - the number where the message is to be sent.\n * **Sender address** - the from number. This number has to be purchased and assigned to the project whose credentials are used.\n * **message** - message to be sent.\n\n\n## How to use\nClick on the timestamp node to initiate the flow and an sms would\nbe delivered to the entered destination address from the sender address\n\n\n## Check response\nClick the **Debug messages** button to open the debug console.\nOnce a request is initiated by clicking on the timestamp node, the \nSend SMS node would send out a message. Once the request is complete, a\nsuccess/failure response would appear in the debug console.\n\nTo learn more, check the **Node Help** section."},{"id":"16bfa9ee.0a5ab6","type":"debug","z":"4ff76e90.cab8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":220,"wires":[]}]